/* General */

:root {
  --breakpoint-medium: 800px;

  --margin-small: 0.75rem;
  --margin-medium: 1.5rem;
  --margin-large: 3rem;

  --font-main: Arial, sans-serif;

  --font-medium: 16px;
  --font-large: 1.125rem;
  --font-huge: 1.5rem;

  --color-light: #f5f5f5;
  --color-black: #000;
  --color-brand: #0b3b54;
  --color-accent: #c9a920;

  box-sizing: border-box;
  font-size: var(--font-medium);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: var(--breakpoint-medium);
  margin: auto;
  font-family: var(--font-main);
  font-size: var(--font-medium);
}


/* Utils */

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}


/* Header */

.page-header {
  padding: 1.5em 1.5em calc(1.5em - 0.25em);
  background-color: var(--color-brand);
  color: var(--color-accent);
}

.top-nav {
  display: flex;
}

.top-nav__title {
  flex-grow: 0;
  margin-right: var(--margin-large);
  font-size: var(--font-huge);
}

.top-nav__inner li {
  display: inline-block;
  margin-right: var(--margin-small);
  list-style-type: none;
}

.top-nav__inner a {
  display: block;
  padding: 0.25em 0;
  font-size: var(--font-large);
  text-decoration: none;
  color: inherit;
}

.top-nav__inner a:hover {
  text-decoration: underline;
}


/* Main content */

.page-main {
  padding: 1.5rem 1.5rem;
  background-color: var(--color-light);
}


/* Article */

.article {
  margin-bottom: var(--margin-medium);
}

.article__title {
  margin-bottom: var(--margin-medium);
  font-size: var(--font-large);
}

.article__image {
  float: left;
  margin-right: var(--margin-small);
  margin-bottom: var(--margin-small);
}

.article__text {
  line-height: 1.2;
  text-align: justify;
}


/* Aside */

.aside_right {
  float: right;
  margin-bottom: var(--margin-medium);
  margin-left: var(--margin-small);
}


/* Form */

.form {
  width: 200px;
  padding: var(--margin-medium) var(--margin-small);
  border: 1px solid var(--color-black);
}

.form__title {
  margin-bottom: var(--margin-small);
  font-size: var(--font-medium);
  font-weight: normal;
}

.form__fieldset {
  margin-bottom: var(--margin-small);
  border: none;
}

.form__label,
.form__input {
  display: block;
  width: 100%;
}

.form__input_submit {
  width: initial;
}
